<div id="savedArticles" class="container-fluid article-container">
    <h2>SAVED ARTICLES</h2>
    {{#each response}}
    <div class="card" data-id="{{_id}}" data-saved=false>
        <div class="card-header bg-warning text-dark">
            <h5>
                <a href="https://www.nytimes.com{{url}}" rel="noopener noreferrer" target="_blank">
                    {{headline}}
                </a>
            </h5>
            <a class="btn btn-secondary mr-5 notes text-light" href="#" data-id="{{_id}}">
                <i class="material-icons">
                    notes
                </i> NOTES
            </a>
            <a class="btn btn-danger ml-5 unsave text-light" href="#" data-id="{{_id}}">
                <i class="material-icons">
                    remove_circle_outline
                </i>
            </a>
        </div>
        <div class="card-body">
            <p>{{summary}}</p>

        </div>
    </div>

    {{/each}}
</div>